:global(body) {
    background: #f5f5f5;
    color: #313129;
}

.sectionMain {
    background: white;
}

.imagem {
    border-radius: 10px;
    object-fit: cover;
}


:global(header) {
    background: #313129;
    color: white;
}

.container_header {
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:global(nav) {
    padding-right: 40px;
    justify-content: space-around;
}

:global(nav a) {
    margin-right: 30px;
    color: #F4EDDD;
    text-decoration: none;
}

.btn_box {
    background-color: #4a4a44;
    padding: 13px 25px;
    border: 2px solid #F4EDDD;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
}


.titulo {
    padding: 20px 80px;
    font-size: 28px;
    margin-bottom: 30px;
    position: relative;
}

.titulo::after {
    content: "";
    width: 120px;
    height: 3px;
    background: #c79a4a;
    display: block;
    margin-top: 8px;
}
.conteudo_servicos {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.imagemWrap {
    width: 100%;
}

.imagem {
    width: 90%;
    height: 400;
    display: block;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 40px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4a5568;
    height: 100%;
    margin-bottom: 100px;
}

.descricao {
    max-width: 600px;
    margin: 0px;
    font-size: 17px;
    line-height: 1.7;
    text-align: left;
}

.btn_contato {
    margin-top:  100px;
    background-color: #efa60d;
    color: #414141;
    padding: 12px 25px;
    border-radius: 12px;
    width: 190px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn_contato:hover {
    background-color: #d48f0b;
}

.seta {
    font-size: 42px;
    color: #8a8a8a;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    margin-left: 20px;
    margin-right: 20px;
}

.seta:hover {
    color: #d39b12;
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal.ativo {
    display: flex;
}

.modal_content {
    position: relative;
    background: white;
    padding: 0 20px 20px 20px;
    width: 300px;
    border-radius: 8px;
}

.modal_content form input,
.modal_content form textarea,
.modal_content form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

:global(textarea) {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    resize: none;
    height: 100px;
}

:global(input) {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    resize: none;
}

:global(button) {
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {

    .container_header {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    
    :global(nav) {
        padding-right: 0;
    }

    :global(nav a) {
        margin-right: 10px;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .conteudo_servicos {
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        grid-template-areas:
            ". imagem ."
            "setaEsq texto setaDir";
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .conteudo_servicos > :nth-child(1) {
        grid-area: setaEsq;
    }

    .conteudo_servicos > :nth-child(2) {
        grid-area: imagem;
    }

    .conteudo_servicos > :nth-child(3) {
        grid-area: texto;
    }

    .conteudo_servicos > :nth-child(4) {
        grid-area: setaDir;
    }

    .imagem {
        width: 100%;
        max-width: 500px;
        margin-bottom: 10px;
    }

    .texto {
        margin-bottom: 20px;
    }

    .descricao {
        text-align: center;
    }
}